.card {
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    font-weight: 500;
    background: rgb(48,157,194);
    background: linear-gradient(10deg, rgba(48,157,194,1) 0%, rgba(24,186,226,1) 42%, rgba(19,201,238,1) 100%);
    margin: 10px;
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.32);
}

.title {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #0eaa71
}

.cardButton {
    border-style: none;
    padding: 2px 8px;
    background-color: #cf2121;
    font-weight: bold;
    border-radius: 8px;
    margin: 8px;
    transition: all 0.1s;
}

.cardButton:hover {
    background-color: rgb(190, 47, 47);
}
.cardParraf {
    display: flex;
    flex-direction: column;
    margin: 8px;
    line-height: 30px;
    font-weight: 500;
    font-size: 1em;
}

.mainCardTemp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}

.mainDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}